<div class="row">
    <div class="col">
        <h1 class="page-title">Month, Year</h1>
    </div>
</div>

<div class="row">
    {{#each days}}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card day">
                <div class="card-body">
                  <a class="card-link" href="/days/{{this._id}}">{{this.date}}</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
