<div class="row">
    <div class="col">
        <h1 class="page-title">
          <script> document.write(new Date().toDateString()); </script>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col">
      <h2>Breathe</h2>
    </div>
</div>

<div class="row">
    <div class="col">
      <h2>Mindfulness</h2>
    </div>
</div>

<div class="row">
    <div class="col">
      <h2>Gratitude</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <form method="POST" action="/days">
            <div class="form-row">
                <div class="form-group col-8 col-lg-6">
                </div>
            </div>

           <div class="form-group">
              <label>This made me smile...</label>
              <textarea name="gratitude1" class="form-control" id="gratitude1" rows="3"></textarea>
          </div>
          <div class="form-group">
              <label>What keeps me going...</label>
              <textarea name="gratitude2" class="form-control" id="gratitude2" rows="3"></textarea>
         </div>
         <div class="form-group">
            <label>I'm looking forward to...</label>
            <textarea name="gratitude3" class="form-control" id="gratitude3" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="post-date">Date</label>
          <input type="date" name="date" class="input-text" id="date" placeholder="mm/dd/yyyy" required>
          <span class="validity"></span>
        </div>

              <button type="submit" class="btn btn-primary">Finished!</button>
          </form>
    </div>
</div>
