<body>
  <style type="text/css">
  html {
    scroll-behavior: smooth;
  }
</style>

  <div class="section cover">
    <div class="col justify-content-center text-center">
      <h1>
        Welcome Back! Today is
        <script>
          var today = new Date(), dd = today.getDate(), mm = today.getMonth() + 1, month = '', yyyy = today.getFullYear();
          if (mm == 1) { month = 'January'; } else if (mm == 2) { month = 'February'; } else if (mm == 3) { month = 'March';
          } else if (mm == 4) { month = 'April'; } else if (mm == 5) { month = 'May'; } else if (mm == 6) { month = 'June';
          } else if (mm == 7) { month = 'July'; } else if (mm == 8) { month = 'August'; } else if (mm == 9) { month = 'September';
          } else if (mm == 10) { month = 'October'; } else if (mm == 11) { month = 'November'; } else { month = 'December';}
          today = month + ' ' + dd + ', ' + yyyy;
          document.write(today);
        </script>
      </h1>
      <a class="button text-center" href="#breathe"><h4>▼</h4></a>
    </div>
  </div>

  <div class="section first-section" id="breathe">
    <h2>Breathe</h2>
    <div class="circle"></div>
    <h1><time class="text-center count">01:00</time></h1>
    <a class="button text-center" href="#mindfulness"><h4>▼</h4></a>
  </div>

  <div class="section second-section" id="mindfulness">
    <div class="row justify-content-around text-center">
      <h2>Mindfulness</h2>
    </div>
    <a class="button text-center" href="#gratitude"><h4>▼</h4></a>
  </div>

  <div class="section third-section" id="gratitude">
    <div class="row justify-content-center text-center">
        <h2>Gratitude</h2>
    </div>

    <div class="row">
        <div class="col">
            <form method="POST" action="/days">
                <div class="form-row">
                    <div class="form-group col-8 col-lg-6">
                    </div>
                </div>

               <div class="form-group">
                  <label for="gratitude1">This made me smile...</label>
                  <textarea name="gratitude1" class="form-control" id="gratitude1" rows="3"></textarea>
              </div>
              <div class="form-group">
                  <label for="gratitude2">What keeps me going...</label>
                  <textarea name="gratitude2" class="form-control" id="gratitude2" rows="3"></textarea>
             </div>
             <div class="form-group">
                <label for="gratitude3">I'm looking forward to...</label>
                <textarea name="gratitude3" class="form-control" id="gratitude3" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="post-date">Date</label>
              <input type="date" name="date" class="input-text" id="date" placeholder="mm/dd/yyyy" required>
              <span class="validity"></span>
            </div>

                  <button type="submit" class="btn btn-primary">Finished!</button>
              </form>
        </div>
  </div>
</body>

<style>
h1, h2, h4 {
  color: white;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.cover {
  background-image: linear-gradient(#ef908f, #efca8f, #f9f1b1);
}

.first-section {
  background-image: linear-gradient(#ef908f, #f9f1b1, #96e09a);
}

.second-section {
  background-image: linear-gradient(#f9f1b1, #96e09a, #ac96e0);
}

.third-section {
  background-image: linear-gradient(#96cde0, #ef908f);
}

.section {
  min-height: 640px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repe5;
  background-size: cover;
  margin: -.5em 0 0 0;
  padding-top: 5em;
}

.circle {
  height: 90px;
  width: 90px;
  margin: 15% 0;
  margin-left: 47%;
  border-radius: 50%;
  background-image: radial-gradient(#eee, #fff);
  animation: circle 3.5s ease-in-out alternate infinite;
}

@keyframes circle {
  0% { transform: translate(0, 0); }
  100% { transform: scale(4); }
}

</style>
<script>
  // var h1 = document.getElementsByClassName('count')[0], seconds = 0, minutes = 0, t;
  // function add() {
  //     seconds++;
  //     if (seconds >= 60) {
  //         seconds = 0;
  //         minutes++;
  //         if (minutes >= 60) {
  //             minutes = 0;
  //         }
  //     }
  //     h1.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
  //     timer();
  // }
  //
  // function timer() {
  //     t = setTimeout(add, 1000);
  // }
  // timer();

  var h1 = document.getElementsByClassName('count')[0], seconds = 0, minutes = 1, t;
  function add() {
      if (seconds == 0) {
        minutes--;
        seconds=60;
      }
      seconds--;
      h1.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
      timer();
  }

  function timer() {
      t = setTimeout(add, 1000);
  }
  timer();
</script>
