<body>
  <div class="section cover">
    <div class="row justify-content-around text-center">
      <h4 class="tagline"></h4>
      <div class="show">
      </div>
    </div>
  </div>

  <div class="section first-section">
      <div class="circle"></div>
      <h1 ><time class="text-center">00:00</time></h1>
  </div>

  <div class="section second-section">
    <div class="row justify-content-around text-center">
      <div class="col-12 col-sm-10 col-med-8 col-lg-5">
        two
      </div>
    </div>
  </div>

  <div class="section third-section">
    <div class="row justify-content-center text-center">
      <div class="col-12 col-sm-10 col-med-8 col-lg-5">
        hi
      </div>
    </div>
  </div>
</body>

<style>
.cover {
  background-image: linear-gradient(#96e09a, #f9f1b1);
  min-height: 700px;
}

.first-section {
  background-image: linear-gradient(#ac96e0, #96cde0);
  min-height: 400px;
}

.second-section {
  background-image: linear-gradient(#96e09a, #f9f1b1);
  min-height: 400px;
}

.third-section {
  background-image: linear-gradient(#efca8f, #ef908f);
  min-height: 400px;
}

.section {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.circle {
  height: 100px;
  width: 100px;
  margin-left: 46%;
  border-radius: 50%;
  background-image: radial-gradient(#9bdcff, #eaf7ff);
  animation: circle 4s ease alternate infinite;
}

@keyframes circle {
  0% { transform: translate(0, 0); }
  100% { transform: scale(4); }
}

</style>
<script>
  var h1 = document.getElementsByTagName('h1')[0], seconds = 0, minutes = 0, t;

  function add() {
      seconds++;
      if (seconds >= 60) {
          seconds = 0;
          minutes++;
          if (minutes >= 60) {
              minutes = 0;
          }
      }

      h1.textContent = (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);
      timer();
  }

  function timer() {
      t = setTimeout(add, 1000);
  }
  timer();
</script>

</div>
