.page-title {
  margin: 60px 0 35px;
}

.day {
  margin-bottom: 15px;
}

.day-breadcrumb {
  margin: 45px 0 35px;
}

.some-margin {
  margin: 50px;
}

body {
    margin: 0!important;
    margin-top: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 0px!important;
    margin-left: 0px!important;
}

.calendar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.calendar .item {
  float: left;
  flex: 1 1 calc(14.2857143%);
}

.calendar .item img {
  height: 150px;
  width: 150px;
}
